.users {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.user {
  width: 700px;
  height: auto;
  border: 1px solid black;
  margin: 10px;
  display: flex;
  padding: 10px;
  font-family: "Courier New", Courier, monospace;
}

.user h3 {
  margin: 20px;
}
